.connection {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .authForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .formField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.5em 0 0 0;
    width: 15em;
    height: 3.2em;
  }
  
  .formField label {
    font-size: small;
    margin: 0 0 0 0.7em;
    transition: 300ms all ease-in-out;
  }
  
  .authForm button {
    margin: 1em 0 1em 0;
  }
  
  .flexCenter h2 {
    text-align: center;
  }
  
  .authForm input {
    padding: 0.5em 0.5em 0.5em 0.7em;
    outline: none;
    border-radius: 999px;
    transition: all ease 250ms;
    z-index: 1;
  }

  
  .logForm {
    border: solid 1px whitesmoke;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
  }
  
  .pageLink {
    margin: 0.5em 0 1em 0;
  }
  
  .pageLink:hover {
    cursor: pointer;
  }

  .inputNoError {
    background-color: rgba(0, 0, 0, 0.329);
    color: #BDBDBD;
    border: none;
  }

  .inputError {
    background-color: rgba(255, 0, 0, 0.128);
    border: rgb(255, 113, 113) 1px solid;
    color: #BDBDBD;
  }