@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #2c2c2c;
}

.App {
  margin: 2em 2em 0 2em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  text-align: left;
  color: #BDBDBD;
  width: 75vw;
}

.whiteText {
  color: #D9D9D9;
}

.whiteText:focus {
  color: #D9D9D9;
}


/* ------------------ UTILITY CLASSES ------------------ */

.buttonLight {
  margin: 0.5em 0 0.5em 0;
  color: #36393F;
  padding: 0.25em 1em;
  width: fit-content;
  border-radius: 9999px;
  background-color: #D9D9D9;
  font-size: large;
  font-family: boldFont, sans-serif;
}

.buttonLight:hover {
  cursor: pointer;
}

.titleInput, .titleFormTextArea {
  margin: 5px 0 0 0;
  outline: none;
  border: none;
  background-color: #D9D9D9;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  font-size: larger;
  color: #16171B;
  resize: none;
}

.titleFormField {
  margin: 0.5em 0 0 1em;
}

.titleFormField .smallTitle {
  margin: 0;
}



/* ------------------ HOME PAGE ------------------ */
#profileLink {
  align-self: flex-end;
}

.profileIcon {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: small;
  color: #BDBDBD;
}

.profileIcon svg {
  width: 40px;
  height: 40px;
  transition: all ease 250ms;
}

.mainTitle {
  font-family: boldFont, sans-serif;
  font-size: 2.3em;
  font-weight: bolder;
  text-align: left;
  letter-spacing: 2px;
  margin: 0 0 0 0;
  color: #BDBDBD;
}

.topicIllustration {
  width: 9em;
  margin: 1em 0.5em 1em 0.5em;
  border-radius: 10px;
}



/* ------------------ MULTIPLE PAGES ------------------ */

.pageTitle {
  font-family: boldFont, sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
  text-align: left;
  letter-spacing: 0.5px;
  margin: 0.5em 0 0 0.5em;
  border-bottom: 1px solid #BDBDBD;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.smallTitle {
  font-size: x-large;
  margin: 0 0 0.5em 1em;
  color: #BDBDBD;
}
